.header {
    margin-bottom: 0;
}

.img-hero {
    background: linear-gradient(rgba(0, 0, 0, .4)), url(../assets/services-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    min-height: 40rem;
    width: 100%;
    padding-inline: 3rem;

    display: grid;
    place-content: center;
    row-gap: 5rem;
}

.img-hero__title {
    color: #FFF;
    font-size: clamp(2rem, -2.375rem + 14vw, 5.5rem);
    font-weight: 700;
    text-transform: capitalize;
}

.img-hero__text {
    color: #FFF;
    font-size: clamp(1.15rem, 0.7125rem + 1.4vw, 1.5rem);
    font-weight: 400;
    line-height: 1.64;
    text-transform: capitalize;
}

.service-callout {
    margin-bottom: 3rem;
    padding-block: 2rem;
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 248, 221, 0.00) 0%, rgba(255, 246, 211, 0.13) 34.29%, rgba(159, 212, 255, 0.41) 100%);
}

.service-callout__title {
    color: #1D3D58;
    font-size: clamp(1.55rem, -0.8875rem + 7.8vw, 3.5rem);
    font-weight: 700;
    text-transform: capitalize;
}

.services-cards--bubbles {
    margin-inline: auto;
    max-width: 1000px;
    margin-bottom: 6rem;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 6rem;
}

.services-cards--bubbles>div {
    margin-inline: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8rem;
}

.services-cards--bubbles .card {
    margin-inline: 2rem;

    padding-block: 3rem;
    padding-inline: 3rem;

    border-radius: 3.5rem;
    background-color: rgba(195, 201, 213, 0.16);
    border: 1px solid var(--Border-Grey, #D2D2D2);

    display: flex;
    gap: 1rem;
}

.services-cards--bubbles .card--reversed {
    background: var(--J---secondary, #FFF9E0);
}

.services-cards--bubbles .card__left {
    padding-block: 1rem;

    display: flex;
    flex-direction: column;
}

.services-cards--bubbles .card__title {
    margin-bottom: .75rem;

    font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
    font-weight: 700;
}

.services-cards--bubbles .card__text {
    margin-bottom: 1.5rem;

    font-size: clamp(1.15rem, 0.7125rem + 1.4vw, 1.5rem);
    font-weight: 400;
    line-height: 1.65;

    text-transform: capitalize;
}

.services-cards--bubbles .card__link {
    width: fit-content;
    padding: 0rem .5rem;
    gap: 0.625rem;
    border-radius: 1rem;
    border: 3px solid var(--J---Third, #1D3D58);
    color: #1D3D58;
    font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
    font-weight: 400;
    line-height: 1.65;
    text-decoration: none;
    text-transform: capitalize;
}

.services-cards--bubbles .card__link:hover {
    color: var(--J---A-Magenta, #D60F84);
    border-color: #D60F84;
}

.services-cards--bubbles .card__link:focus-visible {
    outline: solid 2px #D60F84;
    outline-offset: 3px;
}

/* .services-cards-bubbles  */
.services-cards--bubbles .card__right {
    margin-block: auto;
}

.services-cards--bubbles .card__img {
    max-height: 16rem;
    aspect-ratio: 1 / 1;
    border-radius: 2.5rem;
}

@media (max-width: 1136px) {
    .services-cards--bubbles>div {
        flex-direction: column;
        row-gap: 3rem;
    }

    .services-cards--bubbles>div:has(.card--reversed) {
        flex-direction: column-reverse;
    }
}

@media (max-width: 690px) {
    .services-cards--bubbles .card {
        flex-direction: column-reverse;
    }

    .services-cards--bubbles .card__img {
        aspect-ratio: 1.4 / 1;
        object-fit: cover;
        justify-self: center;
        border-radius: 2.5rem;
    }
}

.hero-three-container {
    max-width: var(--max-width-1000);
    margin-inline: auto;
    background: var(--J---Third, #1D3D58);
    display: flex;
    justify-content: center;
}

.hero-three {
    margin-inline: 3rem;
    padding-block: 5rem;
    max-width: var(--max-width-750);

    color: white;

    display: flex;
    align-content: center;
    align-items: center;
    gap: 4.5rem;
}

.hero-three div {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.hero-three h2 {
    color: var(--J---secondary, #FFF9E0);
    font-family: "Istok Web", san-serif;
    font-size: clamp(1.75rem, 0.8125rem + 3vw, 2.5rem);
    font-weight: 700;
}

.hero-three p {
    color: var(--J---secondary, #FFF9E0);
    font-family: "Istok Web", san-serif;
    font-size: clamp(1.15rem, 0.7125rem + 1.4vw, 1.5rem);
    font-weight: 400;
    line-height: 1.65;
}

.hero-three a {
    text-decoration: none;
    color: var(--J---secondary, #FFF9E0);
    font-family: "Istok Web", san-serif;
    font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
    font-weight: 400;
    line-height: 1.65;
    border-radius: 1.1875rem;
    border: 3px solid var(--J---secondary, #FFF9E0);
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.hero-three a:hover {
    background: var(--J---secondary, #FFF9E0);
    color: var(--J---Third, #1D3D58);
}

.hero-three a:focus-visible {
    background: var(--J---secondary, #FFF9E0);
    outline: 3px solid var(--J---secondary, #FFE74A);
    outline-offset: 3px;
    color: var(--J---Third, #1D3D58);
}

@media (max-width: 1055px) {
    .hero-three {
        flex-direction: column;
    }

    .hero-three img {
        width: 100%;
        max-height: 20rem;
        object-fit: cover;
        border-radius: 2rem;
    }
}